<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>{% block title %}标题{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('base.css') }} ">
    {% block css %}{% end %}
    <script src="{{ static_url('jquery-1.9.1.min.js') }} " type="text/javascript"></script>
    <style type="text/css"></style>
    {% block js %}{% end %}
</head>
<body>

<div class="container">

<div class="header">课程表管理系统 - 教师端</div>

<div class="left">
    <ul type=none>
        <li><a href="">教师课程表</a></li>
        <li><a href="">尚未开发</a></li>
        <li><a href="">尚未开发</a></li>
        <li><a href="">尚未开发</a></li>
        <li><a href="">尚未开发</a></li>
    </ul>
</div>

<div class="content">
{% block content %}{% end %}
</div>

<div class="footer">Copyright 2017 by TJPU.</div>
</div>

</body>
</html>